# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Database
*.db
*.sqlite3

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env
.env.*
.certs/
.tools/